<div class="container">
  <div mode="side" opened class="drawer">
    
    <div class="auth-message">
        <span>Vous devez être authentifié pour pouvoir accéder aux quêtes.</span>
        <button mat-stroked-button color="primary">Log in</button>        
    </div>
    
  </div>
  
  
  <div class="main-content">
    
    <!-- Carte infos de la quête -->
    <mat-card class="card">
      <h2 class="card-title">Informations de la quête</h2>
      
      <div class="column">
        <!-- Nom de la quête -->
        <mat-form-field>
          <input matInput #questNameElem [value]="questName" placeholder="Nom de la quête">
        </mat-form-field>
   
        <!-- Point de départ de la quête -->
        <mat-form-field>
          <input matInput #startingPointElem [value]="startingPoint" placeholder="Point de départ">
        </mat-form-field>
      </div>

      <!-- Start text -->
      <span class="column">
        <mat-form-field [floatLabel]=" 'always' " appearance="outline">
          <mat-label>Texte de début</mat-label>
          <textarea matInput
            (input)="setStartPreview()"
            #textStart
            cdkTextareaAutosize
            cdkAutosizeMinRows="5"
            cdkAutosizeMaxRows="5"></textarea>
        </mat-form-field> 

        <div #apercuDebut class="apercu color-0" [innerHTML]="htmlStart | safeHtml"></div>
      </span>
      
     
      <!-- End text -->
      <span class="column">
        <mat-form-field [floatLabel]=" 'always' " appearance="outline">
          <mat-label>Texte de fin</mat-label>
          <textarea matInput
            (input)="setEndPreview()"
            #textEnd
            cdkTextareaAutosize
            cdkAutosizeMinRows="5"
            cdkAutosizeMaxRows="5"></textarea>  
        </mat-form-field> 
      
        <div #apercuFin class="apercu color-0" [innerHTML]="htmlEnd | safeHtml"></div>
      </span>
    </mat-card>

    <!-- Carte conditions de la quête -->
    <mat-card class="card">
      <h2 class="card-title">Conditions</h2>
    </mat-card>

    <!-- Carte récompense de la quête -->
    <mat-card class="card">
        <h2 class="card-title">Récompenses</h2>
      </mat-card>

    <!-- Block boutons -->
    <div id="btn-block">
      <button id="new-step-btn" class="custom-btn" color="primary" mat-raised-button>Nouvelle étape</button>
      <button id="save-btn" class="custom-btn" color="primary" (click)="saveQuest()" mat-raised-button>Enregistrer</button>  
    </div>
    
  </div>
</div>