.container {
    width: 100vw;
    height: calc(100vh - 65px);
    padding: 0;
    margin: 0;

    display: flex;
}

.main-content {
    background-color: whitesmoke;

    width: 100%;
    height: calc(100vh - 65px);
    
    margin: 0;

    display: flex;
    flex-direction: column;
}

.drawer {
    padding: 15px;
    width: 275px;
    height: calc(100vh - 65px);
    box-sizing: border-box;
    border-right: 1px solid gainsboro;
}

.auth-message {
    height: 100%;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.auth-message button {
    margin: 20px;
}   

.card {
    margin: 10px 20px;
    padding: 10px 20px;

    display: flex;
    flex-direction: column;
}

.color {
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-right: 5px;

    border: 1px solid darkslategray;
    border-radius: 2px;
}

.column {
    display: flex;
    justify-content: space-between;
}

.column > * {
    width: 49.5%;
}

.card-title {
    color: #2c3e50;
    text-align: center;
}

.apercu {
    margin: 5px 5px 20px 10px;
    padding: 10px;
    box-sizing: border-box;

    word-break: break-word;
    word-wrap: break-word;

    height: 130px;
    font-size: 16px;

    border: 1px solid gainsboro;
    border-radius: 4px;

    overflow-y: auto;
}

mat-form-field.mat-form-field {
    font-size: 16px;
}

#btn-block {
    display: flex;
    justify-content: flex-end;
    margin-left: 20px;
    margin-top: 10px;
}

.custom-btn {
    margin-right: 20px;
    padding: 10px;
    width: 150px;
}

#new-step-btn {
    background-color: #2980b9 !important;
}

#save-btn {
    background-color: #16a085 !important;
}