.container {
    width: 100vw;
    height: calc(100vh - 65px);
    padding: 0;
    margin: 0;

    display: flex;
}

.main-content {
    background-color: whitesmoke;

    width: 100%;
    height: calc(100vh - 65px);
    
    margin: 0;
}

.drawer {
    padding: 15px;
    width: 275px;
    height: calc(100vh - 65px);
    box-sizing: border-box;
    border-right: 1px solid gainsboro;
}

.auth-message {
    height: 100%;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.auth-message button {
    margin: 20px;
}   

#quest-info {
    margin: 20px;
    padding: 10px 20px;

    display: flex;
    flex-direction: column;
}

.color {
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-right: 5px;

    border: 1px solid darkslategray;
    border-radius: 2px;
}

.info-debut {
    display: flex;
    justify-content: space-between;
}

.info-debut > * {
    width: 49.5%;
}

#apercu-debut {
    margin: 5px 5px 20px 10px;
    word-break: break-all;

    height: 110px;
    font-size: 14px;

    overflow-y: auto;
}

mat-form-field.mat-form-field {
    font-size: 14px;
}