<div class="container">
  <div mode="side" opened class="drawer">
    
    <div class="auth-message">
        <span>Vous devez être authentifié pour pouvoir accéder aux quêtes.</span>
        <button mat-stroked-button color="primary">Log in</button>        
    </div>
    
  </div>
  
  
  <div class="main-content">
    
    <mat-card id="quest-info">

      <mat-form-field>
        <input matInput [value]="questName" placeholder="Nom de la quête">
      </mat-form-field>

      <!-- Start text -->
      <span class="info">
        <mat-form-field [floatLabel]=" 'always' " appearance="outline">
          <mat-label>Texte de début</mat-label>
          <textarea matInput
            (input)="setStartPreview()"
            #textStart
            cdkTextareaAutosize
            cdkAutosizeMinRows="5"
            cdkAutosizeMaxRows="5"></textarea>
        </mat-form-field> 

        <div #apercuDebut class="apercu color-0" [innerHTML]="htmlStart | safeHtml"></div>
      </span>
      
     
      <!-- End text -->
      <span class="info">
        <mat-form-field [floatLabel]=" 'always' " appearance="outline">
          <mat-label>Texte de fin</mat-label>
          <textarea matInput
            (input)="setEndPreview()"
            #textEnd
            cdkTextareaAutosize
            cdkAutosizeMinRows="5"
            cdkAutosizeMaxRows="5"></textarea>  
        </mat-form-field> 
      
        <div #apercuFin class="apercu color-0" [innerHTML]="htmlEnd | safeHtml"></div>
      </span>
      
    </mat-card>

    <button id="save-btn" color="primary" mat-raised-button>Enregistrer</button>

  </div>
</div>